DEBUG=*
PORT="3000"
MONGODB_URI="mongodb://localhost:27017"
DB_NAME="runic-anvil"
JWT_SECRET="your-secret"
JWT_EXPIRATION=30d

# DB
DB_VERSION=1
CARD_VERSION=0.0.1

# Stable Diffusion
FILE_DIR=__dirname/../../pics
TMP_DIR=__dirname/../../tmp
STABLE_DIFFUSION_CWD=
STABLE_DIFFUSION_SPAWN_COMMAND=